<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kicklounge">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KickLounge"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".AdminSignInActivity"
            android:exported="true" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />


        <activity
            android:name=".DashboardActivity"
            android:exported="true" />


        <activity
            android:name=".FieldDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".BookingFormActivity"
            android:exported="true" />


        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />

    </application>
</manifest>
